<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <body>
     <div id="div1">
         <div id="div2">
             <p id="p1">选课系统</p>
             <p id="p2">created by chao</p>
         </div>
     </div>
    </body>
</head>
</html>