<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/left.css' />
    <title><%= title %></title>
</head>
<body>
<div id="left_div1">
    <form method="post" id="student_left" name="student_left" action="/student_left">
        <div id="div2">
            <table>
                <tr>
                    <td>
                    <input type="button" id="student_course" name="student_course" onclick="student_course_click()" value="课题信息">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="button" id="student_selected" name="student_selected" onclick="student_selected_click()" value="已选课题">
                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="button" id="student_password" name="student_password" onclick="student_password_click()" value="修改密码">
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>
